<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Call</title>
  <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/modules/bootswatch/dist/united/bootstrap.min.css" />
  <link rel="stylesheet" href="/modules/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body style="height: 100vh;">
  <main class="container-fluid text-center h-100 w-100 m-0">
    <div class="row d-flex align-items-center h-100">
      <div class="d-flex flex-column col">
        <div>
          <a href="/meet" class="btn btn-md btn-dark" role="button">
            <i class="bi bi-telephone-plus" style="margin-right: 5px"></i>
            <span>Create room</span>
          </a>
        </div>
      </div>
    </div>
  </main>
  <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>