<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Call</title>
  <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/modules/bootswatch/dist/united/bootstrap.min.css" />
  <link rel="stylesheet" href="/modules/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/styles/meet.css" />
  <script>
    window.MODELS_2D = JSON.parse('<%- JSON.stringify(MODELS_2D) %>');
    window.NODE_ENV = "<%= NODE_ENV %>";
    window.ROOM_ID = "<%= ROOM_ID %>";
    window.SVC_URL = new URL("<%= SVC_URL %>");
  </script>
</head>

<body class="d-flex flex-column h-100 w-100">
  <!-- modals -->
  <!-- <div class="modal fade" id="mdl-chat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" -->
  <div class="modal fade" id="mdl-chat" tabindex="-1" aria-labelledby="mdlChatLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down modal-dialog-scrollable"">
      <div class=" modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mdlChatLabel">Chats</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body align-items-end">
        <div class="chat-bubble-container">
          <div class="row">
            <div class="float-start">
              <p class="float-start bg-gradient chat-bubble-text">
                <span class="sender">
                  <span class="text-info">Ababil</span>
                  <span>:</span>
                </span>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen boo</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="float-end">
              <p class="float-end bg-gradient chat-bubble-text">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen boo</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="float-start">
              <p class="float-start bg-gradient chat-bubble-text">
                <span class="sender">
                  <span class="text-info">Ababil</span>
                  <span>:</span>
                </span>
                <span>Yes we did!</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="float-end">
              <p class="float-end bg-gradient chat-bubble-text">
                <span>No problem bro :)</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <div class="input-group-text"><i class="bi bi-pencil"></i></div>
          <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" id="inp-msg">
          <button type="button" class="btn btn-primary" id="btn-send-msg">
            <!-- <span>Send</span> -->
            <div style="transform: rotate(46deg); float: right">
              <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- content -->
  <main class="container-fluid text-center h-100 w-100 m-0">
    <div id="stream-container" class="resizer row d-flex align-items-center justify-content-center">
      <div id="self-content" class="resizer-outer d-flex flex-column col">
        <div class="resizer-inner">
          <div class="user-avatar d-flex align-items-center justify-content-center">
            <img src="/favicon.ico" class="">
          </div>
          <div class="user-info user-info-badge">
            <span>You</span>
          </div>
        </div>
      </div>
      <div class="resizer-outer d-flex flex-column col">
        <div class="resizer-inner">
          <video class="user-video" src="/assets/videos/example.mov"></video>
          <div class="user-info user-info-badge">
            <span>Adam</span>
          </div>
        </div>
      </div>
    </div>
    <div id="preview-container" class="self-preview">
      <video class="user-video" src="/assets/videos/example.mov"></video>
      <div class="user-info">
        <span>You</span>
      </div>
    </div>
  </main>

  <!-- static absolute footer -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <button type="button" class="btn btn-md btn-light" id="btn-info">
        <i class="bi bi-info-circle"></i>
      </button>
      <button type="button" class="btn btn-md btn-light" id="btn-camera">
        <i class="bi bi-camera-video-off"></i>
      </button>
      <button type="button" class="btn btn-lg btn-danger" id="btn-call">
        <i class="bi bi-telephone-x-fill"></i>
      </button>
      <button type="button" class="btn btn-md btn-light" id="btn-mic">
        <i class="bi bi-mic-mute"></i>
      </button>
      <button type="button" class="btn btn-md btn-secondary" data-bs-toggle="modal" data-bs-target="#mdl-chat">
        <i class="bi bi-chat-quote"></i>
      </button>
    </div>
  </footer>

  <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/modules/jquery/dist/jquery.min.js"></script>
  <script src="/modules/peerjs/dist/peerjs.min.js"></script>
  <script src="/modules/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/modules/bluebird/js/browser/bluebird.min.js"></script>
  <script src="/scripts/resizer.js"></script>
  <script src="/scripts/meet.js"></script>
</body>

</html>