html,
body {
  height: 100%;
}

body {
  display: flex;
  background-color: #f5f5f5;
}

#mdl-chat .modal-content {
  height: auto;
  min-height: 100%;
}

@media screen and (min-width: 992px) {
  #mdl-chat .modal-dialog {
    margin-right: 25px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
}

footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #80808030 !important;
}

footer.footer button {
  border-radius: 25px;
  width: 50px;
}

footer.footer button i {
  margin-left: -2px;
}

.vlayer-0 {
  border: 0px solid black;
  align-content: center;
}

.vlayer-1 {
  border: 0px solid yellow;
}

.vlayer-2 {
  border: 0px solid blue;
  /* align-items: center; */
}

.vlayer-3 {
  border: 0px solid gray;
  padding: 10px 10px;
  display: block;
  position: relative;
}

.vlayer-4 {
  border: 1px solid burlywood;
  border-radius: 5px;
  min-height: 200px;
  max-height: 310px;
  background-color: black;
}

.vlayer-self {
  /* display: none; */
  position: absolute;
  background-color: black;
}

.vlayer-preview {
  border: 1px solid burlywood;
  border-radius: 5px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  height: 15%;
  width: 15%;
  z-index: 10;
  background-color: black;
}

.participant-name {
  position: absolute;
  top: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  border-top-left-radius: 3px;
  text-shadow: 0px 0px 3px black;
  color: white;
}

.vlayer-4 .participant-name {
  text-shadow: none;
  background-color: #c8c8c8eb;
  color: navy;
}

video {
  height: auto;
  max-height: calc(100% - 11px);
  margin-top: 5px;
  width: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

@media (max-width: 700px) {
  video {
    height: auto;
    width: 100%;
  }
}

.chat-bubble-container {
  max-height: 100%;
  position: absolute;
  padding: 15px;
  width: 100%;
  bottom: 0;
  right: 0;
}

.chat-bubble-text {
  max-width: 90%;
  border-radius: 5px;
  padding: 10px;
  background-color: darkseagreen;
}